@using System.Numerics

@inject IDocService _docService;

<div class="container">
    @if (_hasLoaded)
    {
        <Card Bordered="true" Title=@docData.Name Style="width: 300px"> 
            <Body>
                <p>Event Organizer: @docData.EventOrganizer</p>
                <p>Type: @docData.Type</p>
            </Body>
        </Card>
    }
    else
    {
        <Spin />
    }
</div>


@code {
    [Parameter]
    public BigInteger Id { get; set; }

    private bool _hasLoaded = false;
    private DocumentData docData;

    protected override async Task OnInitializedAsync()
    {
        var result = await _docService.DocumentsQueryAsync(Id);

        docData = result.Data;

        _hasLoaded = true;
    }
}
