@using EthContract;
@using System.Numerics

@inject IDocService _docService;

<div class="container">
    <div class="row">
        <h2>
            User Documents
        </h2>
    </div>
    @if (_hasLoaded)
    {
        <div class="card" style="padding: 15px">
            <Space Direction="DirectionVHType.Vertical">
            @foreach (var doc in docsResult)
            {
                <SpaceItem>
                    <DocCard Id="@doc"/>
                </SpaceItem>
            }
            </Space>
        </div>
    }
    else
    {
        <Spin />
    }
</div>


@code {
    [Parameter]
    public string Address { get; set; }

    private bool _hasLoaded = false;
    private List<BigInteger> docsResult;

    protected override async Task OnInitializedAsync()
    {
        docsResult = await _docService.GetUserDocsQueryAsync(Address);
        
        _hasLoaded = true;
    }
}
